In [1]:
import pandas as pd
from datetime import datetime
#!pip install quandl
import quandl
import warnings
warnings.filterwarnings("ignore")

In [2]:
file = ['dow', 'euro_stoxx50', 'nasdaq', 'nikkei', 'oro', 'petroleo', 'shangai_stock_exchange', 'sp_500']
data = []
for i in file:
    data.append(pd.read_csv('./data/' + i + '.csv'))
file.insert(0, 'date')

In [3]:
for i in data:
    print(i.info(), '\n \n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 7 columns):
Fecha       1125 non-null object
Cierre      1125 non-null float64
Apertura    1125 non-null float64
Máximo      1125 non-null float64
Mínimo      1125 non-null float64
Vol.        1125 non-null object
% var.      1125 non-null object
dtypes: float64(4), object(3)
memory usage: 61.6+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1539 entries, 0 to 1538
Data columns (total 7 columns):
Fecha       1539 non-null object
Cierre      1539 non-null object
Apertura    1539 non-null object
Máximo      1539 non-null object
Mínimo      1539 non-null object
Vol.        1539 non-null object
% var.      1539 non-null object
dtypes: object(7)
memory usage: 84.2+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 7 columns):
Fecha       1512 non-null object
Cierre      1512 non-null float64
Apertura    1512 non-null float64
Máximo      1512 non-null float64
Mínimo      1512 non-null float64
Vol.        1512 non-null object
% var.      1512 non-null object
dtypes: float64(4), object(3)
memory usage: 82.8+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1494 entries, 0 to 1493
Data columns (total 7 columns):
Fecha       1494 non-null object
Cierre      1494 non-null object
Apertura    1494 non-null object
Máximo      1494 non-null object
Mínimo      1494 non-null object
Vol.        1494 non-null object
% var.      1494 non-null object
dtypes: object(7)
memory usage: 81.8+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1588 entries, 0 to 1587
Data columns (total 7 columns):
Fecha       1588 non-null object
Cierre      1588 non-null object
Apertura    1588 non-null object
Máximo      1588 non-null object
Mínimo      1588 non-null object
Vol.        1588 non-null object
% var.      1588 non-null object
dtypes: object(7)
memory usage: 86.9+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1583 entries, 0 to 1582
Data columns (total 7 columns):
Fecha       1583 non-null object
Cierre      1583 non-null float64
Apertura    1583 non-null float64
Máximo      1583 non-null float64
Mínimo      1583 non-null float64
Vol.        1583 non-null object
% var.      1583 non-null object
dtypes: float64(4), object(3)
memory usage: 86.6+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1434 entries, 0 to 1433
Data columns (total 7 columns):
Fecha       1434 non-null object
Cierre      1434 non-null float64
Apertura    1434 non-null float64
Máximo      1434 non-null float64
Mínimo      1434 non-null float64
Vol.        1434 non-null object
% var.      1434 non-null object
dtypes: float64(4), object(3)
memory usage: 78.5+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1511 entries, 0 to 1510
Data columns (total 7 columns):
Fecha       1511 non-null object
Cierre      1511 non-null object
Apertura    1511 non-null object
Máximo      1511 non-null object
Mínimo      1511 non-null object
Vol.        1511 non-null object
% var.      1511 non-null object
dtypes: object(7)
memory usage: 82.7+ KB
None

In [4]:
def price(data):
    try:
        amount = [float(i.replace(',','')) for i in data.Cierre]
        df = pd.DataFrame({'date': pd.to_datetime(data.Fecha),
                      'amount': amount})
    except:
        df = pd.DataFrame({'date':pd.to_datetime(data.Fecha),
                      'amount': data.Cierre.astype('float')})
    return df

def variance(data):
    var = [float(i.replace('%','')) for i in data.iloc[:,6]]
    df = pd.DataFrame({'date': pd.to_datetime(data.Fecha),
                      'var': var})
    return df

def generate_df(l, names, ind, rename = True):
    inner = pd.merge(l[0], l[1], how ='inner', on = 'date', left_on = None, right_on = None,
         left_index = True, right_index = True, sort = True)
    for i in range(2, len(l)):
        inner = pd.merge(inner, l[i], how ='inner', on = 'date', left_on = None, right_on = None,
                 left_index = True, right_index = True, sort = True)
    inner = pd.DataFrame(inner)
    if rename:
        inner.columns = names
        for i in range(1, len(names)):
            inner.rename(columns = {names[i]: names[i] + ind}, inplace = True)
    return inner.sort_values('date')

def get_info_bit(start, end, key):
    inf = quandl.get(key, start_date = start,end_date = end)
    return inf

In [5]:
amount = []
var = []
for i in data:
    amount.append(price(i))
    var.append(variance(i))

In [6]:
amount[0].head(5)

        date  amount
0 2020-12-31   55.50
1 2020-12-30   55.47
2 2020-12-29   54.33
3 2020-12-28   54.29
4 2020-12-24   54.79

In [7]:
var[0].head(5)

        date   var
0 2020-12-31  0.05
1 2020-12-30  2.10
2 2020-12-29  0.07
3 2020-12-28 -0.91
4 2020-12-24  0.07

In [8]:
for i in amount:
    print('max: ', i.date.max(), '\t min: ', i.date.min())

max:  2020-12-31 00:00:00 	 min:  2015-01-04 00:00:00
max:  2020-12-31 00:00:00 	 min:  2015-01-04 00:00:00
max:  2020-12-31 00:00:00 	 min:  2015-01-04 00:00:00
max:  2020-12-30 00:00:00 	 min:  2015-01-04 00:00:00
max:  2021-01-01 00:00:00 	 min:  2015-01-01 00:00:00
max:  2020-12-31 00:00:00 	 min:  2015-01-01 00:00:00
max:  2020-12-31 00:00:00 	 min:  2015-01-04 00:00:00
max:  2020-12-31 00:00:00 	 min:  2015-01-04 00:00:00

In [9]:
amount = generate_df(amount, file, '(USD)')
amount.head()

,date,dow(USD),euro_stoxx50(USD),nasdaq(USD),nikkei(USD),oro(USD),petroleo(USD),shangai_stock_exchange(USD),sp_500(USD)
1063,2015-01-04,47.90,3009.28,65.94,16819.24,1134.55,52.23,2.95,2136.73
1042,2015-01-05,51.69,3100.76,66.93,17177.21,1298.90,52.48,2.86,2163.26
1022,2015-01-06,52.26,3317.52,67.77,18360.54,1237.30,53.20,2.96,2246.19
1000,2015-01-07,51.39,3273.11,67.72,19364.67,1329.00,48.86,3.08,2275.32
957,2015-01-09,41.66,3472.58,70.82,19633.75,1329.90,48.66,3.03,2385.26

In [10]:
var = generate_df(var, file, '(%)')
var.head()

,date,dow(%),euro_stoxx50(%),nasdaq(%),nikkei(%),oro(%),petroleo(%),shangai_stock_exchange(%),sp_500(%)
1063,2015-01-04,-0.17,1.85,-0.72,0.50,-0.04,0.21,-0.24,-1.24
1042,2015-01-05,1.35,1.57,2.37,1.61,0.75,-0.08,0.00,1.11
1022,2015-01-06,0.36,0.08,0.24,0.47,-6.22,0.51,0.00,0.22
1000,2015-01-07,0.43,0.60,0.77,0.33,0.90,2.39,0.49,0.28
957,2015-01-09,-4.80,-0.26,0.16,0.15,0.05,-0.39,0.20,0.84

In [11]:
quandl.ApiConfig.api_key = "yRoEr9d428JVxLEqdo77"
start="2015-01-01"
end="2021-01-01"

In [12]:
bit = {'BCHAIN-TOTBC':'Total de bitcoins disponibles',
      'BCHAIN-MKPRU':'Precio del bitcoin en dolares',
      'BCHAIN-AVBLS':'Tamaño promedio del bloque',
      'BCHAIN-MIREV':'Recompensas por bloques de monedas y tarifas de transacción pagadas a los mineros',
      'BCHAIN-HRATE':'Número estimado de Tera de hashes por segundo que realizan todos los mineros',
      'BCHAIN-ATRCT':'Tiempo medio de confirmación de transacción',
      'BCHAIN-NTRBL':'Número de transacciones de Bitcoin por bloque',
      'BCHAIN-NADDU':'Número total de un Bitcoin único'}
bitcoin_var = bit.keys()
bitcoin_var

dict_keys(['BCHAIN-TOTBC', 'BCHAIN-MKPRU', 'BCHAIN-AVBLS', 'BCHAIN-MIREV', 'BCHAIN-HRATE', 'BCHAIN-ATRCT', 'BCHAIN-NTRBL', 'BCHAIN-NADDU'])

In [13]:
bitcoin_data = []
for i in bitcoin_var:
    bitcoin_data.append(pd.read_csv('./data/' + i + '.csv'))
for i in range(0, len(bitcoin_data)):
    bitcoin_data[i].rename(columns = {'Date':'date'}, inplace = True)

In [14]:
bitcoin_var = list(bitcoin_var)
bitcoin_var.insert(0, 'date')

In [15]:
bitcoin_data[0].head(5)

         date        Value
0  2021-01-09  18594850.00
1  2021-01-08  18593975.00
2  2021-01-07  18592875.00
3  2021-01-06  18591781.25
4  2021-01-05  18590687.50

In [16]:
for i in bitcoin_data:
    print(i.info(), '\n \n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4389 entries, 0 to 4388
Data columns (total 2 columns):
date     4389 non-null object
Value    4389 non-null float64
dtypes: float64(1), object(1)
memory usage: 68.7+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4391 entries, 0 to 4390
Data columns (total 2 columns):
date     4391 non-null object
Value    4391 non-null float64
dtypes: float64(1), object(1)
memory usage: 68.7+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4390 entries, 0 to 4389
Data columns (total 2 columns):
date     4390 non-null object
Value    4390 non-null float64
dtypes: float64(1), object(1)
memory usage: 68.7+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4390 entries, 0 to 4389
Data columns (total 2 columns):
date     4390 non-null object
Value    4390 non-null float64
dtypes: float64(1), object(1)
memory usage: 68.7+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4389 entries, 0 to 4388
Data columns (total 2 columns):
date     4389 non-null object
Value    4389 non-null float64
dtypes: float64(1), object(1)
memory usage: 68.7+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3504 entries, 0 to 3503
Data columns (total 2 columns):
date     3504 non-null object
Value    3504 non-null float64
dtypes: float64(1), object(1)
memory usage: 54.8+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4390 entries, 0 to 4389
Data columns (total 2 columns):
date     4390 non-null object
Value    4390 non-null float64
dtypes: float64(1), object(1)
memory usage: 68.7+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4389 entries, 0 to 4388
Data columns (total 2 columns):
date     4389 non-null object
Value    4389 non-null float64
dtypes: float64(1), object(1)
memory usage: 68.7+ KB
None

In [17]:
bitcoin_data = generate_df(bitcoin_data, bitcoin_var, '')
bitcoin_data.rename(columns = {'BCHAIN-MKPRU':'BCHAIN-MKPRU (USD)', 'BCHAIN-MIREV':'BCHAIN-MIREV (USD)',
                   'BCHAIN-ATRCT':'BCHAIN-ATRCT (SEG)'}, inplace = True)
bitcoin_data['date'] = pd.to_datetime(bitcoin_data.date)
bitcoin_data.head(5)

,date,BCHAIN-TOTBC,BCHAIN-MKPRU (USD),BCHAIN-AVBLS,BCHAIN-MIREV (USD),BCHAIN-HRATE,BCHAIN-ATRCT (SEG),BCHAIN-NTRBL,BCHAIN-NADDU
3503,2011-06-07,6462050.0,31.50,0.026287,293220.0711,5.160439,0.0,49.0,15812.0
3502,2011-06-08,6471200.0,35.00,0.025533,335412.0000,5.978214,0.0,56.0,20730.0
3501,2011-06-09,6481800.0,30.00,0.019570,396795.0000,6.373001,0.0,50.0,22272.0
3500,2011-06-10,6493100.0,24.99,0.018799,349080.0000,6.542196,0.0,58.0,21061.0
3499,2011-06-11,6504700.0,24.50,0.019836,298405.5900,6.711391,0.0,64.0,20896.0

In [18]:
#file = ['eur_usd','cny_usd','jpy_usd','gbp_usd']
file = ['eur_usd','cny_usd','gbp_usd']
data = []
for i in file:
    data.append(pd.read_csv('./data/' + i + '.csv'))
file.insert(0, 'date')

In [19]:
for i in data:
    print(i.info(), '\n \n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1567 entries, 0 to 1566
Data columns (total 6 columns):
Fecha       1567 non-null object
Cierre      1567 non-null float64
Apertura    1567 non-null float64
Máximo      1567 non-null float64
Mínimo      1567 non-null float64
% var.      1567 non-null object
dtypes: float64(4), object(2)
memory usage: 73.5+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1567 entries, 0 to 1566
Data columns (total 6 columns):
Fecha       1567 non-null object
Cierre      1567 non-null float64
Apertura    1567 non-null float64
Máximo      1567 non-null float64
Mínimo      1567 non-null float64
% var.      1567 non-null object
dtypes: float64(4), object(2)
memory usage: 73.5+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1567 entries, 0 to 1566
Data columns (total 6 columns):
Fecha       1567 non-null object
Cierre      1567 non-null float64
Apertura    1567 non-null float64
Máximo      1567 non-null float64
Mínimo      1567 non-null float64
% var.      1567 non-null object
dtypes: float64(4), object(2)
memory usage: 73.5+ KB
None

In [20]:
general = []
for i in data:
    general.append(price(i))
general = generate_df(general, file, '')
general.head()

           date  eur_usd  cny_usd  gbp_usd
1566 2015-01-01   1.2104   0.1611   1.5545
1502 2015-01-04   1.0764   0.1613   1.4823
1480 2015-01-05   1.1202   0.1612   1.5141
1459 2015-01-06   1.0928   0.1613   1.5201
1437 2015-01-07   1.1054   0.1613   1.5618

In [21]:
complete = [amount, bitcoin_data, general]
complete = generate_df(complete, file, '', False)
complete.head()

,date,dow(USD),euro_stoxx50(USD),nasdaq(USD),nikkei(USD),oro(USD),petroleo(USD),shangai_stock_exchange(USD),sp_500(USD),BCHAIN-TOTBC,BCHAIN-MKPRU (USD),BCHAIN-AVBLS,BCHAIN-MIREV (USD),BCHAIN-HRATE,BCHAIN-ATRCT (SEG),BCHAIN-NTRBL,BCHAIN-NADDU,eur_usd,cny_usd,gbp_usd
1063,2015-01-04,47.90,3009.28,65.94,16819.24,1134.55,52.23,2.95,2136.73,16857300.0,8343.455000,1.034792,1.515466e+07,2.043482e+07,8.850000,1271.209790,462086.0,1.0719,0.1453,1.2677
1042,2015-01-05,51.69,3100.76,66.93,17177.21,1298.90,52.48,2.86,2163.26,16898562.5,11430.181667,0.976834,2.548563e+07,2.690962e+07,8.033333,983.466667,524246.0,1.0488,0.1442,1.2322
1022,2015-01-06,52.26,3317.52,67.77,18360.54,1237.30,53.20,2.96,2246.19,16935862.5,8662.378333,0.830548,1.445054e+07,2.289248e+07,7.700000,1352.015038,418187.0,1.0769,0.1453,1.2658
1000,2015-01-07,51.39,3273.11,67.72,19364.67,1329.00,48.86,3.08,2275.32,16977875.0,8340.748333,0.798910,1.376253e+07,2.614693e+07,9.166667,1181.335766,503405.0,1.0623,0.1449,1.2295
957,2015-01-09,41.66,3472.58,70.82,19633.75,1329.90,48.66,3.03,2385.26,17059087.5,7130.541667,0.448727,1.509175e+07,3.511234e+07,7.866667,879.902439,356715.0,1.0885,0.1449,1.2867

In [22]:
complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1125 entries, 1063 to 0
Data columns (total 20 columns):
date                           1125 non-null datetime64[ns]
dow(USD)                       1125 non-null float64
euro_stoxx50(USD)              1125 non-null float64
nasdaq(USD)                    1125 non-null float64
nikkei(USD)                    1125 non-null float64
oro(USD)                       1125 non-null float64
petroleo(USD)                  1125 non-null float64
shangai_stock_exchange(USD)    1125 non-null float64
sp_500(USD)                    1125 non-null float64
BCHAIN-TOTBC                   1125 non-null float64
BCHAIN-MKPRU (USD)             1125 non-null float64
BCHAIN-AVBLS                   1125 non-null float64
BCHAIN-MIREV (USD)             1125 non-null float64
BCHAIN-HRATE                   1125 non-null float64
BCHAIN-ATRCT (SEG)             1125 non-null float64
BCHAIN-NTRBL                   1125 non-null float64
BCHAIN-NADDU                   1125 non-null float64
eur_usd                        1125 non-null float64
cny_usd                        1125 non-null float64
gbp_usd                        1125 non-null float64
dtypes: datetime64[ns](1), float64(19)
memory usage: 184.6 KB

In [23]:
print('Max date: ', complete.date.max(),'\t Min date:', complete.date.min())

Max date:  2020-12-31 00:00:00 	 Min date: 2015-01-04 00:00:00

In [24]:
def completa(df, start, end):
    names = list(df.columns)
    date = pd.date_range(start = start, end = end).difference(df.iloc[:,0])
    new = pd.DataFrame(columns = names)
    new['date'] = date
    new = pd.concat([df, new]).sort_values('date')
    return new

import math
def media(l):
    if not math.isnan(l[0]):
        if not math.isnan(l[2]):
            return (l[0] + l[2])/2
        else:
            return l[0]
    elif not math.isnan(l[2]):
        return l[2]
        
def rellena(df):
    nan = list(df.iloc[:,1].isnull())
    idx = []
    for i, j in enumerate(nan):
        if j:
            idx.append(i)
    for col in range(1, len(df.columns)):
        for i in idx:
            df.iloc[i,col] = media(list(df.iloc[[i - 1, i, i + 1],col]))
    return df

In [25]:
df_aux = completa(complete, '2015-01-04', '2020-12-31')
final = pd.concat([complete, df_aux]).sort_values('date').drop_duplicates().reset_index()
final.drop(['index'], axis=1, inplace = True)
final

,date,dow(USD),euro_stoxx50(USD),nasdaq(USD),nikkei(USD),oro(USD),petroleo(USD),shangai_stock_exchange(USD),sp_500(USD),BCHAIN-TOTBC,BCHAIN-MKPRU (USD),BCHAIN-AVBLS,BCHAIN-MIREV (USD),BCHAIN-HRATE,BCHAIN-ATRCT (SEG),BCHAIN-NTRBL,BCHAIN-NADDU,eur_usd,cny_usd,gbp_usd
0,2015-01-04,47.90,3009.28,65.94,16819.24,1134.55,52.23,2.95,2136.73,16857300.00,8343.455000,1.034792,1.515466e+07,2.043482e+07,8.850000,1271.209790,462086.0,1.0719,0.1453,1.2677
1,2015-01-05,51.69,3100.76,66.93,17177.21,1298.90,52.48,2.86,2163.26,16898562.50,11430.181667,0.976834,2.548563e+07,2.690962e+07,8.033333,983.466667,524246.0,1.0488,0.1442,1.2322
2,2015-01-06,52.26,3317.52,67.77,18360.54,1237.30,53.20,2.96,2246.19,16935862.50,8662.378333,0.830548,1.445054e+07,2.289248e+07,7.700000,1352.015038,418187.0,1.0769,0.1453,1.2658
3,2015-01-07,51.39,3273.11,67.72,19364.67,1329.00,48.86,3.08,2275.32,16977875.00,8340.748333,0.798910,1.376253e+07,2.614693e+07,9.166667,1181.335766,503405.0,1.0623,0.1449,1.2295
4,2015-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2015-01-09,41.66,3472.58,70.82,19633.75,1329.90,48.66,3.03,2385.26,17059087.50,7130.541667,0.448727,1.509175e+07,3.511234e+07,7.866667,879.902439,356715.0,1.0885,0.1449,1.2867
6,2015-01-10,42.98,3642.11,68.11,18800.50,1328.50,46.46,3.06,2328.95,17099587.50,6713.488000,0.490980,1.268641e+07,3.855979e+07,7.450000,922.980892,343364.0,1.1213,0.1469,1.2881
7,2015-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2015-01-12,53.42,3478.41,71.05,19860.03,1347.50,48.59,3.00,2437.92,17179137.50,8143.148333,0.539321,1.743165e+07,5.027718e+07,9.833333,990.629412,395733.0,1.1842,0.1487,1.3214
9,2015-01-13,43.61,2993.73,68.50,16497.85,1307.70,49.83,2.72,2169.18,16750612.50,17737.111667,1.042035,5.260019e+07,1.694649e+07,8.433333,2166.148352,877464.0,1.1189,0.1499,1.3027
10,2015-01-14,43.43,3008.59,70.84,16723.31,1312.30,50.44,2.72,2166.58,16752362.50,16026.271667,1.060159,4.162900e+07,1.303576e+07,7.766667,2704.442857,922523.0,1.1208,0.1500,1.3078
11,2015-01-15,43.31,2987.69,70.87,16681.89,1310.40,49.81,2.74,2170.06,16754062.50,16047.510000,1.072800,4.078686e+07,1.266331e+07,8.016667,2722.625000,887697.0,1.1226,0.1499,1.2974
12,2015-01-16,44.79,3010.36,70.76,16810.22,1311.80,51.35,2.73,2173.60,16755712.50,15190.945000,1.038692,4.355294e+07,1.229086e+07,7.333333,2541.530303,853863.0,1.1254,0.1499,1.2975
13,2015-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2015-01-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2015-01-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2015-01-20,44.13,2998.50,71.42,16627.25,1318.60,50.79,2.73,2170.84,16757650.00,15360.261667,1.062319,5.104917e+07,1.443245e+07,8.300000,2455.793548,840739.0,1.1215,0.1499,1.3022
17,2015-01-21,44.74,3030.75,71.20,16620.29,1325.20,50.18,2.73,2157.03,16759387.50,13949.175000,1.060038,4.183367e+07,1.294265e+07,8.600000,2217.345324,890731.0,1.1216,0.1499,1.3019
18,2015-01-22,45.36,3023.13,71.53,16383.04,1323.50,50.44,2.65,2163.79,16761287.50,14119.028333,1.064143,3.763487e+07,1.415311e+07,7.383333,1838.967105,729637.0,1.1223,0.1499,1.2970
19,2015-01-23,44.57,3017.49,71.43,16664.82,1323.00,50.35,2.65,2164.25,16762975.00,15999.048333,1.050746,3.270673e+07,1.257020e+07,6.816667,1695.748148,652209.0,1.1241,0.1499,1.2976
20,2015-01-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2015-01-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2015-01-26,44.56,3079.74,71.18,16476.84,1317.20,49.94,2.69,2182.87,16764750.00,15589.321667,1.050313,3.889369e+07,1.322199e+07,8.533333,1742.535211,565074.0,1.1211,0.1499,1.2843
23,2015-01-27,44.17,3077.66,70.50,16569.27,1331.60,50.29,2.67,2180.89,16766700.00,14380.581667,1.067595,4.152995e+07,1.452556e+07,8.200000,1972.064103,605853.0,1.1204,0.1499,1.2728
24,2015-01-28,43.03,3070.16,70.23,16635.77,1324.60,51.60,2.68,2181.74,16768562.50,14640.140000,1.083203,3.700843e+07,1.387377e+07,8.416667,2047.335570,749191.0,1.1206,0.1499,1.2749
25,2015-01-29,45.01,3091.66,70.32,16391.45,1330.00,50.43,2.68,2175.49,16770625.00,13215.574000,1.047754,4.053123e+07,1.536358e+07,8.000000,2144.387879,741488.0,1.1151,0.1499,1.2616
26,2015-01-30,45.16,3083.54,70.03,16083.11,1337.10,50.85,2.68,2185.79,16772462.50,14165.575000,1.036882,3.364024e+07,1.368755e+07,10.100000,2342.904762,838925.0,1.1201,0.1499,1.2434
27,2015-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2015-02-01,45.59,3044.94,67.51,15378.99,1365.90,45.93,2.66,2161.74,16735187.50,17276.393333,1.060448,4.251711e+07,1.352335e+07,11.516667,2155.543860,739391.0,1.1234,0.1497,1.3338
29,2015-02-02,45.22,3053.20,70.15,16254.89,1333.70,50.52,2.70,2184.05,16774500.00,13812.186667,1.037057,3.543519e+07,1.517735e+07,9.650000,1781.730061,815099.0,1.1138,0.1490,1.2363
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2159,2020-12-02,49.38,3840.97,114.80,22977.75,1697.10,53.78,3.24,3357.75,18388018.75,9569.210000,1.281801,8.457127e+06,9.857962e+07,10.866667,2289.389313,617362.0,1.0845,0.1423,1.2969
2160,2020-12-03,23.67,2586.02,99.32,21344.08,1581.40,25.22,3.45,2741.38,18407575.00,9454.810000,1.271522,8.709273e+06,1.082836e+08,9.683333,2417.007246,669086.0,1.0695,0.1409,1.1641
2161,2020-12-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2162,2020-12-05,33.79,2760.23,109.24,19619.35,1781.70,32.50,3.34,2930.32,18446200.00,11102.670000,1.283029,1.218940e+07,1.239495e+08,14.750000,2341.358108,717842.0,1.0923,0.1409,1.2251
2163,2020-12-06,41.23,3242.65,113.25,22863.73,1747.90,37.96,3.38,3002.10,18466356.25,11865.820000,1.265250,1.230925e+07,1.230021e+08,10.775000,2285.500000,705709.0,1.1204,0.1411,1.2424
2164,2020-12-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2165,2020-12-08,44.28,3342.85,130.47,22418.15,1998.70,42.01,3.98,3333.69,18505212.50,10619.240000,1.300792,9.416443e+06,1.190570e+08,10.525000,2457.717742,679937.0,1.1869,0.1442,1.3102
2166,2020-12-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2167,2020-12-10,48.58,3298.12,125.06,23647.07,1894.60,39.43,4.05,3477.13,18541700.00,16295.570000,1.247600,1.780468e+07,1.335240e+08,9.850000,2030.343750,721180.0,1.1746,0.1489,1.3011
2168,2020-12-11,51.04,3428.20,129.79,25349.60,1886.20,41.12,4.01,3572.66,18563212.50,19155.060000,1.342303,1.863229e+07,1.371323e+08,17.475000,1962.493056,642981.0,1.1853,0.1518,1.3191
2169,2020-12-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2170,2020-12-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2171,2020-12-14,53.06,3503.96,124.04,26732.44,1855.30,46.99,4.07,3647.49,18582762.50,26246.580000,1.303960,2.753362e+07,1.373587e+08,10.350000,2087.871622,696527.0,1.2197,0.1531,1.3507
2172,2020-12-15,54.13,3521.50,127.29,26687.84,1859.10,47.62,4.08,3694.62,18583856.25,27036.690000,1.296632,2.996824e+07,1.479380e+08,7.283333,1931.143750,717073.0,1.2266,0.1530,1.3582
2173,2020-12-16,53.83,3543.00,127.10,26757.40,1890.40,47.82,4.15,3701.17,18584737.50,27376.370000,1.276643,2.822106e+07,1.405378e+08,10.425000,2212.572368,775919.0,1.2255,0.1529,1.3520
2174,2020-12-17,53.83,3560.87,128.50,26806.67,1888.90,48.36,4.13,3722.48,18585843.75,28856.590000,1.256575,3.389644e+07,1.590296e+08,12.775000,1966.616279,807268.0,1.2242,0.1526,1.3463
2175,2020-12-18,55.66,3545.74,128.60,26763.39,1882.80,49.10,4.15,3709.41,18586937.50,28982.560000,1.277365,3.328414e+07,1.534821e+08,7.800000,2077.819277,809871.0,1.2161,0.1528,1.3360
2176,2020-12-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2177,2020-12-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2178,2020-12-21,55.08,3448.68,128.05,26714.42,1870.30,47.74,4.07,3694.92,18587812.50,29393.750000,1.352233,2.906805e+07,1.377640e+08,9.716667,1732.080537,609741.0,1.2185,0.1529,1.3492
2179,2020-12-22,54.67,3497.49,129.90,26436.39,1878.10,47.02,4.10,3687.26,18588700.00,32195.460000,1.395637,3.190850e+07,1.396132e+08,8.466667,1967.622517,711719.0,1.2186,0.1531,1.3555
2180,2020-12-23,54.75,3539.26,127.95,26524.79,1883.20,48.12,4.09,3690.01,18589793.75,33000.780000,1.288694,3.592236e+07,1.460853e+08,8.166667,2272.886076,812749.0,1.2204,0.1528,1.3548
2181,2020-12-24,54.79,3543.28,128.62,26668.35,1880.40,48.23,4.13,3703.06,18590687.50,32035.030000,1.318806,3.975281e+07,1.599542e+08,12.950000,2160.312139,851667.0,1.2214,0.1529,1.3449
2182,2020-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2183,2020-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2184,2020-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2185,2020-12-28,54.29,3575.41,128.85,26656.61,1882.90,47.62,4.14,3735.36,18591781.25,34046.670000,1.292713,3.531478e+07,1.451608e+08,7.866667,2255.356688,845343.0,1.2247,0.1531,1.3500
2186,2020-12-29,54.33,3581.37,129.14,26854.03,1893.40,48.00,4.13,3727.04,18592875.00,36860.410000,1.293668,4.300457e+07,1.636526e+08,6.050000,2245.107345,924851.0,1.2295,0.1532,1.3622
2187,2020-12-30,55.47,3571.59,130.14,27568.15,1895.10,48.40,4.18,3732.04,18593975.00,39486.040000,1.269546,4.522629e+07,1.553313e+08,9.825000,2391.333333,940647.0,1.2214,0.1532,1.3673
2188,2020-12-31,55.50,3552.64,132.74,27444.17,1901.60,48.52,4.28,3756.07,18594850.00,40670.250000,1.295011,4.235810e+07,1.368394e+08,14.450000,2422.472973,883788.0,1.2212,0.1531,1.3671

In [26]:
final2 = rellena(final)
final2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2189 entries, 0 to 2188
Data columns (total 20 columns):
date                           2189 non-null datetime64[ns]
dow(USD)                       2189 non-null float64
euro_stoxx50(USD)              2189 non-null float64
nasdaq(USD)                    2189 non-null float64
nikkei(USD)                    2189 non-null float64
oro(USD)                       2189 non-null float64
petroleo(USD)                  2189 non-null float64
shangai_stock_exchange(USD)    2189 non-null float64
sp_500(USD)                    2189 non-null float64
BCHAIN-TOTBC                   2189 non-null float64
BCHAIN-MKPRU (USD)             2189 non-null float64
BCHAIN-AVBLS                   2189 non-null float64
BCHAIN-MIREV (USD)             2189 non-null float64
BCHAIN-HRATE                   2189 non-null float64
BCHAIN-ATRCT (SEG)             2189 non-null float64
BCHAIN-NTRBL                   2189 non-null float64
BCHAIN-NADDU                   2189 non-null float64
eur_usd                        2189 non-null float64
cny_usd                        2189 non-null float64
gbp_usd                        2189 non-null float64
dtypes: datetime64[ns](1), float64(19)
memory usage: 342.1 KB

In [27]:
cols = list(final2.columns)
cols.remove('BCHAIN-MKPRU (USD)')
cols.append('BCHAIN-MKPRU (USD)')
final2 = final2[cols] 
final2.head()

,date,dow(USD),euro_stoxx50(USD),nasdaq(USD),nikkei(USD),oro(USD),petroleo(USD),shangai_stock_exchange(USD),sp_500(USD),BCHAIN-TOTBC,BCHAIN-AVBLS,BCHAIN-MIREV (USD),BCHAIN-HRATE,BCHAIN-ATRCT (SEG),BCHAIN-NTRBL,BCHAIN-NADDU,eur_usd,cny_usd,gbp_usd,BCHAIN-MKPRU (USD)
0,2015-01-04,47.900,3009.280,65.94,16819.24,1134.55,52.23,2.950,2136.73,16857300.00,1.034792,1.515466e+07,2.043482e+07,8.850000,1271.209790,462086.0,1.0719,0.1453,1.2677,8343.455000
1,2015-01-05,51.690,3100.760,66.93,17177.21,1298.90,52.48,2.860,2163.26,16898562.50,0.976834,2.548563e+07,2.690962e+07,8.033333,983.466667,524246.0,1.0488,0.1442,1.2322,11430.181667
2,2015-01-06,52.260,3317.520,67.77,18360.54,1237.30,53.20,2.960,2246.19,16935862.50,0.830548,1.445054e+07,2.289248e+07,7.700000,1352.015038,418187.0,1.0769,0.1453,1.2658,8662.378333
3,2015-01-07,51.390,3273.110,67.72,19364.67,1329.00,48.86,3.080,2275.32,16977875.00,0.798910,1.376253e+07,2.614693e+07,9.166667,1181.335766,503405.0,1.0623,0.1449,1.2295,8340.748333
4,2015-01-08,46.525,3372.845,69.27,19499.21,1329.45,48.76,3.055,2330.29,17018481.25,0.623819,1.442714e+07,3.062963e+07,8.516667,1030.619103,430060.0,1.0754,0.1449,1.2581,7735.645000

In [30]:
final2.to_csv("data.csv", index = False)

In [29]:
file = ['dow', 'euro_stoxx50', 'nasdaq', 'nikkei', 'oro', 'petroleo', 'shangai_stock_exchange', 'sp_500',
       'eur_usd','cny_usd','gbp_usd']
bitcoin_var = list(bit.keys())
for i in file:
    print(i + ':\t',pd.read_csv('./data/' + i + '.csv').shape[0])
for i in bitcoin_var:
    print(i + ':\t',pd.read_csv('./data/' + i + '.csv').shape[0])
    #print(i + ':\t',get_info_bit(start, end, i).reset_index().shape[0])

dow:	 1125
euro_stoxx50:	 1539
nasdaq:	 1512
nikkei:	 1494
oro:	 1588
petroleo:	 1583
shangai_stock_exchange:	 1434
sp_500:	 1511
eur_usd:	 1567
cny_usd:	 1567
gbp_usd:	 1567
BCHAIN-TOTBC:	 4389
BCHAIN-MKPRU:	 4391
BCHAIN-AVBLS:	 4390
BCHAIN-MIREV:	 4390
BCHAIN-HRATE:	 4389
BCHAIN-ATRCT:	 3504
BCHAIN-NTRBL:	 4390
BCHAIN-NADDU:	 4389